<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="head-room text-center">
            </div>
        </div>
    </div>
    <p class="head-room" style="text-align: center">Now's your time to shine by submitting a trivia category! Keep it professional. As submissions progress,
    please look through the entries and upvote the ones you like best. Let's get creative and have some fun!</p>
    <div class="text-center head-room">
        <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Submit your category
        </button>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="card card-body bg-black">
            <div class="row">
                <div class="col-md-12">
                        <div class="head-room" style="width: 75%; margin: 25px auto;">
                        <div class="pad-form">
                            <form action="/submit" method="POST" id="new-form">
                                <div class="form-group">
                                    <input class="form-control mb-2" type="text" name="name" placeholder="Your Name">
                                </div>          
                                <div class="form-group">
                                    <input class="form-control" type="text" name="submission" placeholder="Your trivia category">
                                </div>
                                <br>
                                <div class="g-recaptcha" data-sitekey="6LdoWOUUAAAAAHXq0m_3E-IFwJton3cqE7OuM-du"></div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-md btn-primary btn-block">Submit</button>
                                </div>
                            </form>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container head-room">
    <div class="row text-center">
            <div class="col-md-12 col-sm-6 table">
                <table class="table table-striped container sortable table-sort">
                    <thead>
                        <tr>
                            <th>Who</th>
                            <th>Category</th>
                            <th>Votes</th>
                        </tr>
                    </thead>
                <div class>
                    <% submissions.forEach(function(submission){ %>
                    <div class="table">
                        <tbody>
                            <tr class="">
                                <td><%= submission.name %></td>
                                <td class=""><%= submission.submission %></td>
                                <form action="/submit/<%= submission.id %>?_method=PUT" method="POST" id="new-form">
                                <td><%= submission.upvote %> <button name="upvote" class="btn btn-link"><i class="fas fa-thumbs-up"></button></i></td>
                                </form>
                            </tr>
                        </tbody>
                    </div>
                    <% }) %>
                </div>
            </div>
        </table>
    </div>
</div>

<%- include ('partials/footer') %>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>